<div class="contenido">
    <div class="row">
        <div class="col-md-6">
            <div class="imagen">
                <img src="../../../assets/img/electrito.jpeg" alt="">
            </div>
        </div>
        <div class="contenido col-md-6">
            <div class="col texto ">
                <p>404</p>                
            </div>
            <div class="col descripcion">
                <p>Página</p>
                <p>no</p>
                <p>encontrada!</p>
                <span>La página requerida no se encontró</span>
            </div>
        </div>
    </div>
</div>

