
<div class="container-fluid">
    <div class="row vh-100 ">
        <div class="col-md-6 d-flex justify-content-end align-items-center">
            <div class="imagen">
                <img src="../../../assets/img/electrito.png" alt="">
            </div>
        </div>
        <div class="col-md-6 d-flex justify-content-start align-items-center">
            <div class="row">
                <div class="col-12">
                    <div class="row">
                        <div class="col-12 mb-2">
                            <span class="texto">404</span>                
                        </div>
                        
                    </div>
                    <div class="row">
                        <div class="col-12 mt-2 descripcion">
                            <p>Página</p>
                            <p>no</p>
                            <p>encontrada!</p>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>
