.contenido{
    background-color: #F7F7F7;
    display: flex;
    justify-content: center;
    align-items: center;
}
.imagen img{
    width: 220px;
}
.imagen{
    display: flex;
    justify-content: center;
    align-items: center;
}
.texto{
    font-size: 150px;
    color: #0079BE;
    font-family: cursive;

}
.descripcion p{
    font-size: 35px;
    font-weight: lighter;
}
.descripcion span{
    font-weight: lighter;
}
