<div class="contenido">
    <div class="row">
        <div class="col-md-6">
            <div class="imagen">
                <img src="../../../assets/img/electrito.jpeg" alt="">
            </div>
        </div>
        <div class="contenido col-md-6">
            <div class="col texto ">
                <p>500</p>                
            </div>
            <div class="col descripcion">
                <p>Servidor</p>
                <p>no</p>
                <p>encontrado!</p>
                <span>Comuniquese con su administrador</span>
            </div>
        </div>
    </div>
</div>


