<div class="container-fluid">
    <div class="row">
        <div class="iconos">
            <a href="\datos"><img src="../../../assets/img/contact.png" alt="">Contacto</a>            
            
            <a href="\localizar"><img src="../../../assets/img/ubicacion.png" alt="">Localización</a>            
            
            <a href="\video"><img src="../../../assets/img/camara.png" alt="">Video</a>            
            
            <a href="\"><img src="../../../assets/img/libroAbierto.png" alt="">Publicaciones</a>            

        </div>
    
    </div>
    
</div>
